
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
command-not-found==0.3
coverage==4.3.4
cryptography==3.4.8
pluggy==1.5.0
pycryptodomex==3.11.0
PyGObject==3.42.1
PyJWT==2.3.0
pykerberos==1.1.14
pyparsing==2.4.7
pytest==8.3.4

