name: CI Workflow

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests and generate coverage report
        run: pytest --cov=src --cov-report=xml

      - name: Upload coverage to Code Climate
        run: |
          curl -X POST \
              -F "json_file=@coverage.xml" \
              -H "Authorization: Token ${{ secrets.CODECLIMATE_REPO_TOKEN }}" \
              https://api.codeclimate.com/v1/test_reports
        env:
            CODECLIMATE_REPO_TOKEN: ${{ secrets.CODECLIMATE_REPO_TOKEN }}
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CODECLIMATE_REPO_TOKEN: ${{ secrets.CODECLIMATE_REPO_TOKEN }}